esphome
mkdocs
mkdocs-git-revision-date-localized-plugin
mkdocs-glightbox
mkdocs-include-markdown-plugin
mkdocs-material
mkdocs-material-extensions
mkdocs-minify-plugin
mkdocs-static-i18n
pymdown-extensions
